body {
    background: url(../images/512295.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    text-align: center;
}

.btn {
    text-align: center;
    width: 200px;
    font-size: 32px;
    margin-top: 50px;
    padding: 10px 0;
}