body {
    background: url(../images/512295.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    text-align: center;
}

.btn {
    text-align: center;
    width: 200px;
    font-size: 32px;
    margin-top: 50px;
    padding: 10px 0;
}

#question-block {
    background: white;
    margin: auto;
    width: 400px;
    height: 200px;
}

.wrapper{
    margin: auto;
    background: black;
    width: 50%;
    height: 500px;
}

#answer-block {
    background-color: white;

}

#answer-response {
    background: white;
}